html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: black;
}

button {
  cursor: pointer;
  border: none;
  padding: 0;
  margin: 0;
  background-color: transparent;
}

/* Global background images */

.site-wrapper {
  background: url('../../images/candy-mobile.svg') no-repeat;
  background-size: cover;
  background-position: center;
  &__content {
    height: 95vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);

  }
}
